.project-container {
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 1.6rem rgb(34 34 34 / 15%);
    background-color: rgb(238 238 238 / 70%);
    border: .05rem solid #eee;

}

.project-item {
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 1.6rem rgb(34 34 34 / 15%);
    background-color: rgb(238 238 238 / 75%);
    border: .15rem solid rgb(128 128 128 / 25%);
    box-shadow: 5rem rgb(34 34 34 / 15%);

}

