.repository {
    /* background-color: red; */
    /* background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */
    /* background-image: linear-gradient(-225deg, #FDF9F0 0%, #FFD4D4 100%); */
    /* background-image: "gradient-to-l"; */
    /* background-color: #FDF9F0; */
    /* padding-left: 20px; */

}

.near-bg:before {
    /* background: linear-gradient(270deg,#fff0e2 50%,#d7dbff); */
    /* background: linear-gradient(270deg,#e6d8cb 35%,#c2c5e6); */
    background: linear-gradient(270deg,#e6d8cb 35%,#c2c5e6);
    /* background: linear-gradient(270deg,rgb(247, 216, 187, 0.5) 35%,#afb5f8); */


    /* background: linear-gradient(270deg,red 35%,blue); */
    right: 15vh;
    top: 5vh;
}

.near-bg:after {
    /* background: linear-gradient(180deg,#e1d7ff 50%,#e1f4f8); */
    background: linear-gradient(180deg,#cbc2e6 25%,#cbdcdf);
    /* background: linear-gradient(180deg,#c1aff8 25%,#c3e4ea); */


    /* background: linear-gradient(180deg,green 20%, red); */

    bottom: 10vh;
    left: 15vh;
}

.near-bg:after, .near-bg:before {
    border-radius: 10%;
    content: "";
    display: block;
    filter: blur(8rem);
    height: 75vh;
    position: fixed;
    width: 75vh;
    z-index: -1;
}

.chart-container {
    /* background-color: white; */
    /* background: #FDF8F0; */
    background: "";
    background-color: rgb(238 238 238 / 50%);
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 1.6rem rgb(34 34 34 / 15%);
    /* margin: 1rem 0; */
    padding: 1rem 1;
}

.table-container {
    /* background: #FDF8F0; */
    background-color: "";
    background-color: rgb(238 238 238 / 50%);
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 1.6rem rgb(34 34 34 / 15%);
}

.stat-container {
    background-color: "";
    background-color: rgb(238 238 238 / 50%);
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 1.6rem rgb(34 34 34 / 15%);

}


 .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  