.footer-item {
  background: transparent;
}

.site-footer {
  background: transparent;
}

.button-hover:hover {
  background-color: rgb(201 201 201 / 25%);
  transition: 0.5s;
}

.button-hover {
  background-color: rgb(201 201 201 / 45%);
  border: none;
  transition: 0.5s;
}
